.App {
  text-align: center;
  background-color: rgb(206, 213, 223);
  min-height: 100vh;
  display: inline-flexbox;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);
    box-shadow: 0 70px 70px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); */
  box-sizing: border-box;
}


.Splotch {
  height: 180px;
  width: 200px;
  margin: 20px;
  border: 1px solid pink;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(205, 212, 222);
  /* font-size: 30px; */
  font-size: 15px;
  -webkit-text-stroke: 1px pink;
  box-shadow: 0 70px 70px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  cursor: grabbing;
}

.Card {
  background-color: rgb(205, 212, 222);
  /* background-color: green; */
  padding: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* box-shadow: 0 70px 70px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box; */
}

.Row {
  background-color: yelow;
  background-color: rgb(205, 212, 222);
  display: flex;
  flex-wrap: center wrap;
  justify-content: center;
  padding: 0 4px;
}

.Column {
  
  max-width: 33%;
  padding: 0 4px;
}

.RowTwo {
    background-color: rgb(205, 212, 222);
    flex-direction: row;
    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  align-content: space-around;
}

.ImagePool {
  
  background-color: pink;
  align-self: flex-start;
  
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

img {
  border: 1px solid pink;
  box-shadow: 0 70px 70px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  margin: 12px;
  /* cursor: grabbing; */

  

}

.Butt {
  background-color: goldenrod;
  border: none;
  color: rgb(205, 212, 222);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  /* -webkit-text-stroke: 1px pink; */
    box-shadow: 0 70px 70px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  cursor: not-allowed;
}

.Triangle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-self: center;
  /* box-shadow: 0 70px 70px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); */
  /* box-sizing: border-box; */
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid red;
  color: rgb(205, 212, 222);
  
}

.Triangledown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  justify-self: center;

  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
}

.SomeText {
  color: goldenrod;
  font-family: "Lucida Console", Courier, monospace;
  /* font: italic; */
  /* -webkit-text-stroke: 1px pink; */
}













/* 
.ImagePool a:hover {
  background-color: rgb(187, 186, 186);
  color: black;
} */




